LABLINK_DATA_DIR=.lablink-dev
LABLINK_WEB_PORT=4867
LABLINK_AI_PROVIDER=auto
LABLINK_OAUTH_REDIRECT_URI=http://localhost:4867/oauth/callback
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_ACCESS_TOKEN=
GOOGLE_REFRESH_TOKEN=
GOOGLE_REDIRECT_URI=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_ACCESS_TOKEN=
MICROSOFT_REFRESH_TOKEN=
MICROSOFT_TENANT_ID=common
MICROSOFT_REDIRECT_URI=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
ZOOM_ACCESS_TOKEN=
ZOOM_REFRESH_TOKEN=
ZOOM_REDIRECT_URI=
SLACK_BOT_TOKEN=
NOTION_TOKEN=
WHATSAPP_ACCESS_TOKEN=
